.DS_Store
Thumbs.db

*.log
logs/

/target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml


.idea/workspace.xml
.idea/shelf/
*.iml

.classpath
.project
.settings/

.vscode/

*.jar
*.war
*.ear